*.wfc
*.dat
*.hub
*.save/
*.mix
*.rho
*.igk
*.bfgs
*.update
*.exe
*.dll
*.x
tmp/
Global_Tmp/
tmp_SAFE_CHECKPOINT/
tmp_backup/
/tmp_SAFE_*/
/tmp_PRISTINE_PH/
__pycache__/
tmp_SAFE_PHONON_CHECKPOINT/
*.dvscf*
*.prd*
*.run
